<!DOCTYPE html>
<div data-name="doudou-fait-du-velo" data-component-type="contactform">
  <header>
    <h1>Doudou Fait du Vélo</h1>
  </header>
  
  <!-- Sections -->
  
      
      <div data-index="0" data-name="doudou_fait_du_velo" data-component-type="section">
      
        <div data-index="0" data-name="email" data-section-index="0" data-component-type="field">
          
          <div data-index="0" data-section-index="0" data-component-type="label" ></div>
          <div data-index="0" data-section-index="0" data-component-type="input"></div>
          
        </div>
      
      </div>
  
  
    <!-- Form Buttons -->
    <div data-component-type="btn-group">
      
      <div data-component-type="submit-btn-input">
        <div data-component-type="submit-btn-label"></div>
      </div>
    </div>
  
</div>
