<!DOCTYPE html>
<div data-name="multi-step-form" data-component-type="multistepform">
  <header>
    <h1></h1>
  </header>
  
    <!-- Form Stepper -->
    <!-- Pass in the data-step-class attribute the css class that will be applied in each step --> 
    <!-- Pass in the data-active-class attribute the css class that will be applied when step is active --> 
    <!-- Pass in the data-completed-class attribute the css class that will be applied when step is completed (done) --> 
    <div data-component-type="stepper" data-step-class="" data-active-class="" data-completed-class="">
    </div>
  
  <!-- Sections -->
  
      
      <div data-index="0" data-name="main_content" data-component-type="section">
      
      </div>
  
      
      <div data-index="1" data-name="multi_step_form" data-component-type="section">
      
        <div data-index="0" data-name="email" data-section-index="1" data-component-type="field">
          
          <div data-index="0" data-section-index="1" data-component-type="label" ></div>
          <div data-index="0" data-section-index="1" data-component-type="input"></div>
          
        </div>
      
      </div>
  
      
      <div data-index="2" data-name="step_2" data-component-type="section">
      
        <div data-index="0" data-name="nom" data-section-index="2" data-component-type="field">
          
          <div data-index="0" data-section-index="2" data-component-type="label" ></div>
          <div data-index="0" data-section-index="2" data-component-type="input"></div>
          
        </div>
      
      </div>
  
      
      <div data-index="3" data-name="step_3" data-component-type="section">
      
        <div data-index="0" data-name="message" data-section-index="3" data-component-type="field">
          
          <div data-index="0" data-section-index="3" data-component-type="label" ></div>
          <div data-index="0" data-section-index="3" data-component-type="input"></div>
          
        </div>
      
      </div>
  
  
    <!-- Form Buttons -->
    <div data-component-type="btn-group">
      
      <div data-component-type="prev-btn-input">
        <div data-component-type="prev-btn-label"></div>
      </div>
      <div data-component-type="next-btn-input">
        <div data-component-type="next-btn-label"></div>
      </div>
      
      <div data-component-type="submit-btn-input">
        <div data-component-type="submit-btn-label"></div>
      </div>
    </div>
  
</div>
