<!DOCTYPE html>
<div data-name="toto_fait_du_velo" data-type="contactform">
  <header>
    <h1>Toto fait du vélo</h1>
  </header>
  
  <!-- Sections -->
  
      
      <div data-index="0" data-name="toto_fait_du_velo" data-type="section">
      
        <div data-index="0" data-name="choix" data-section-index="0" data-type="field">
          
          <div data-index="0" data-section-index="0" data-type="label" ></div>
          <div data-index="0" data-section-index="0" data-type="input"></div>
          
        </div>
      
        <div data-index="1" data-name="adresse_postale" data-section-index="0" data-type="field">
          
          <div data-index="1" data-section-index="0" data-type="label" ></div>
          <div data-index="1" data-section-index="0" data-type="input"></div>
          
        </div>
      
        <div data-index="2" data-name="message" data-section-index="0" data-type="field">
          
          <div data-index="2" data-section-index="0" data-type="label" ></div>
          <div data-index="2" data-section-index="0" data-type="input"></div>
          
        </div>
      
        <div data-index="3" data-name="email" data-section-index="0" data-type="field">
          
          <div data-index="3" data-section-index="0" data-type="label" ></div>
          <div data-index="3" data-section-index="0" data-type="input"></div>
          
        </div>
      
      </div>
  
  
    <!-- Form Buttons -->
    <div data-type="btn-group">
      
      <div data-type="submit-btn-input">
        <div data-type="submit-btn-label"></div>
      </div>
    </div>
  
</div>
